<div class='toolbar'>
  <ul class='actions'>
    <li>
      <p><%= button_link_to t('.new_page'), new_object_url, :icon => 'add' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t('.listing_pages') %></h1>

<table class="index sortable">
  <tbody>
    <%- @collection.each do |page|%>
    <tr id="<%= spree_dom_id page %>">
      <td><span class="handle">&nbsp;</span>&nbsp; <%=link_to page.title, object_url(page) %></td>
      <td><%= page.path %></td>
      <td><%= page.accessible %></td>
      <td><%= page.visible %></td>
      <td>
        <%= link_to_with_icon :accept, t('preview'), page.path, :onclick => 'window.open(this.href);return false;' %> &nbsp;
        <%= link_to_with_icon :pages, t('page.contents'), admin_page_contents_path(page) %> &nbsp;
        <%= link_to_edit page %> &nbsp;
        <%= link_to_delete page %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
