<% content_for :page_title do %>
  Strony
<% end %>
<% content_for :page_actions do %>
  <%= button_link_to t('.new_page'), new_object_url, { :class => "btn-success", :icon => 'add', :id => 'admin_new_product' } %>
<% end if can?(:create, Spree::Page) %>



<h1><%= t('.listing_pages') %></h1>

<table class="table">
  <tbody>
    <%- @collection.each do |page|%>
    <tr id="<%= spree_dom_id page %>">
      <td><span class="handle">&nbsp;</span>&nbsp; <%=link_to page.title, object_url(page) %></td>
      <td><%= page.slug %></td>
      <td style="width: 200px;">
        <%= link_to_edit page %> &nbsp;
        <%= link_to_delete page %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
